{% extends "web/base.html" %}
{% load render_table from django_tables2 %}
{% block title_crumb %}Export{% endblock title_crumb %}
{% block sidebar %}
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
      <li><a href="{% url 'web:index' %}">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="{% url 'web:runs' %}">Runs</a></li>
    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#database">Database  <b class="caret"></b></a></li>
    <li class="dropdown" id="database">
        <ul class="dropdown-menu">
            <li><a href="{% url 'web:databasePerson' %}">Person</a></li>
            <li><a href="{% url 'web:databaseClub' %}">Club</a></li>
            <li><a href="{% url 'web:databaseCategory' %}">Category</a></li>
            <li><a href="{% url 'web:databaseRun' %}">Run</a></li>
            <li><a href="{% url 'web:databaseResult' %}">Result</a></li>
            <li><a href="{% url 'web:databasePosition' %}">Position</a></li>
            <li><a href="{% url 'web:databaseSeason' %}">Season</a></li>
        </ul>
    </li>
    <li><a href="{% url 'web:score' %}">Score</a></li>
    <li class="active"><a href="{% url 'web:export' %}">Export</a></li>
  </ul>
</div>
{% endblock sidebar %}

{% block result %}
	 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
     {% for category,zoznam in roster.items  %}
        <table class="paleblue">
        <thead>
        <h3>{{ category }}</h3>
        <tr>
            <td>Poradie</td>
            <td>Meno</td>
            <td>Priezvisko</td>
            <td>Person ID</td>
            {% for r in runs|dictsort:"id" %}
                <td>{{r.name}}</td>
            {% endfor %}
            <td>Celkom</td>
        </tr>
        </thead>
        <!--cat_roster[cat] = ({'name':cat.name, 'pos':pos_per,'per':per, 'runs': run_per }) -->
        <tbody>
            {% for item in zoznam %}
                <tr>
                    <td>{{item.index}}</td>
                    <td>{{item.per.first_name}}</td>
                    <td>{{item.per.last_name}}</td>
                    <td>{{item.per.person_id}}</td>
                    {% for key,value in item.results.items %}
                        <td>{{value}}</td>
                    {% endfor %}
                    <td>{{item.sum_points}}</td>
                </tr>
            {% endfor %}
        </tbody>

         </table>
     {% endfor %}
     
	</div>
{% endblock %}
